# 数据库配置
DATABASE_URL="postgresql://user:password@localhost:5438/curtainscatalog?schema=public"

# JWT 配置
JWT_SECRET="x9U@zB2#r5kP$wL8qT1e!Vm7Nc6YfJ3R"
NEXT_PUBLIC_JWT_SECRET="your-public-jwt-secret-key"

# 服务器配置
PORT=3001
NODE_ENV=development

# Cloudinary 配置
CLOUDINARY_CLOUD_NAME="dr7l1gya7"
CLOUDINARY_API_KEY="276429274782539"
CLOUDINARY_API_SECRET="mTkvlWBjvMn2mdXTMeAKD7aPXfs"

# 其他配置
# 在这里添加其他需要的环境变量